* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.nav {
    background-color: #3B95D7;
    height: 9%;
    display: grid;
    grid-template-rows: 1fr;
}

.nav p {
    color: white;
    font-size: 36px;
    font-weight: 600;
    line-height: 85px;
    letter-spacing: 0.1em;
    margin: 0;
}

.title {
    grid-column: 1/2;
    grid-row: 1;
    padding-left: 2rem;
}

.layout {
    display: grid;
    height: 91%;
    grid-template-columns: 0.19fr 0.71fr;
    border-top: 5px solid white;
}

aside {
    grid-column: 1/2;
    width: 100%;
    background: rgba(59, 149, 215, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: auto !important;
    border-right: 12px solid white;

}

.mainContainer {
    overflow: auto !important;
    width: 100%;
    grid-column: 2/4;
    background: #D9D9D9;
}

.main {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 0.1fr;
}

.formWrapper {
    display: block;
    padding-top: 25px;
    padding-left: 32px;
    grid-row: 1/2;
    border-bottom: 15px solid white;
    padding-top: 21px;
}

.formWrapper hr {
    width: 95%;
    margin: 0;
    height: 0px;
    border: 1px solid black;
}

.separator {
    padding-top: 17px;
}

.formWrapper h1 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #3B95D7;
}

label {
    font-size: 14px;
    line-height: 21px;
    color: #666363;
    font-weight: 600;
    letter-spacing: 0.1em;
}

input,
select {
    height: 32px;
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.section1 label {
    display: block;
    padding-top: 8px;
}

.section1 {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 0.7fr);
}

.firstName {
    grid-column: 1/5;
    grid-row: 1/2;
}

.lastName {
    grid-column: 6/10;
}

.address {
    grid-column: 1/8;
    grid-row: 2/3;
}

.zipcode {
    grid-column: 9/11;
    grid-row: 2/3;
}

.city {
    grid-column: 12/16;
    grid-row: 2/3;
}

.country {
    grid-column: 17/21;
    grid-row: 2/3;
}

.age {
    grid-row: 3/4;
    grid-column: 5/7;
}

.gender {
    grid-row: 3/4;
    grid-column: 1/4;
}

.activity {
    grid-row: 3/4;
    grid-column: 8/15;
}

.section1 select {
    appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1rem auto;
    line-height: 1em;
}

.section1,
.section2 {
    margin: 0;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: 18px;
    padding-top: 8px;
    width: 100%;
    min-width: 50%;
    padding-left: 1rem;
}

.section2 label {
    display: block;
    white-space: nowrap;
    font-size: 80%;
    color: #3B95D7;
    padding-bottom: 1.9375rem;
}

.section2 input {
    width: unset;
    padding-right: 8px;
}

.section2Main h2 {
    padding-left: 2%;
    padding-top: 1%;
    line-height: 21px;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.1em;
    color: #666363;
}

.section2Main {
    border: 1px solid #3B95D7;
    border-radius: 15px;
    width: 92%;
    height: 100%;
    grid-column: 1/16;
}

.section2Container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    width: 95%;
    padding-bottom: 1.27rem;
}

input[type="radio"] {
    margin: 0;
}

input[type="checkbox"] {
    accent-color: #3B95D7;
    height: 40%;
    margin: 0;
    box-shadow: initial;
    outline: 1px solid #3B95D7;
}

.button1,
.button2 {
    color: white;
    display: inline-block;
    height: 30px;
    background: #3B95D7;
    border: 1px solid #686868;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 30px;
    text-align: center;
    align-self: end;
    grid-column: 17/21;
}

.button2 {
    position: absolute;
    margin-bottom: 300px;
    margin-left: 1.375rem;
    ;
    display: none;
}

#backBtnEdit,
#backBtnAdd {
    display: none;
}

.section2 input {
    padding-right: 8px;
}

.run {
    grid-row: 1/2;
    grid-column: 1/2;
}

.cycling {
    grid-row: 1/2;
    grid-column: 3/4;
}

.swimming {
    grid-row: 1/2;
    grid-column: 5/6;
}

.walking {
    grid-row: 1/2;
    grid-column: 7/8;
}

.skiing {
    grid-row: 1/2;
    grid-column: 9/10;
}

.activity {
    width: 100%;
}

.activity input {
    height: initial;
    border: initial;
    box-shadow: initial;
    width: initial;
}

#labelActivity {
    padding: 5px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #3B95D7;
}

.activityContainer {
    display: grid;
    grid-template-columns: 0.57fr 0.43fr;
    background-color: white;
    text-align: right;
}

#professional {
    grid-column: 1/3;
}

#amateur {
    grid-column: 2/3;
}

.section3 {
    width: 100%;
    height: 6.063rem;
    background-color: #3B95D7;
    grid-row: 3/4;
    padding: 0;
    border-top: 1px solid white;
    bottom: 0;
}

.section3 ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    line-height: 1rem;
    font-size: 1rem;
    height: 100%;
    color: white;
}

.section3 li {
    line-height: 6.063rem;
    vertical-align: middle;
    letter-spacing: 0.1em;
}

.news {
    grid-column: 1/2;
    grid-row: 1/2;
}

.aboutus {
    grid-column: 2/3;
    grid-row: 1/2;
}

.services {
    grid-column: 3/4;
    grid-row: 1/2;
}

.contactus {
    grid-column: 4/5;
    grid-row: 1/2;
}

.member-container {
    width: 90%;
    height: 80%;
    background: rgba(86, 92, 78, 0.1);
    border: 0.5px solid #565C4E;
    border-radius: 10px;
    margin-left: 1.375rem;
    margin-top: 0.8125rem;
    display: grid;
    grid-template-rows: repeat(4, 0.6fr);
    grid-template-columns: repeat(12, 0.5fr);
    padding-top: 0.625rem;
    padding-bottom: 11px;
    font-size: 16px;
    line-height: 24px;
}

.memberName {
    grid-row: 1/2;
    grid-column: 3/13;
    font-weight: 600;
    font-size: 16px;
}

.memberId {
    padding-left: 3px;
    grid-row: 2/3;
    grid-column: 3/13;
}

.nametag {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #BDBDBD;
    margin-left: 0.563rem;
    grid-row: 1/5;
    grid-column: 1/2;
    line-height: 4rem;
    text-align: center;
    color: #666363;
    font-size: 36px;
}

.memberEmail {
    padding-left: 3px;
    grid-row: 3/4;
    grid-column: 3/13;
    word-wrap: break-word;
    padding-bottom: 20px;
}

.memberId,
.memberEmail {
    font-size: 12px;
}

.editBtn,
.deleteBtn {
    height: 90%;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-align: center;
}

.editBtn {
    grid-row: 4/5;
    grid-column: 3/7;
    background: #D9D9D9;
    border: 1px solid #767373;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #666363;
    height: 23px;
}

.deleteBtn {
    grid-row: 4/5;
    grid-column: 8/12;
    color: white;
    background: #DD5A5A;
    border: 1px solid #686868;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 23px;
}

.membersContainer {
    display: block;
    padding-bottom: 20px;
}

#error {
    color: red;
    font-size: 12px;
}

.id {
    display: none;
}

#popup {
    display: none;
}

#popup {
    width: 442px;
    position: fixed;
    margin-top: 15%;
    background: #D9D9D9;
    border: 1px solid #3B95D7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: none;
    z-index: 1;
    left: 50%;
    margin-left: -10%;
}

#popup:before {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    content: '';
    left: 0;
    top: 0;
    z-index: -1;
}

#popup .popupHeader {
    padding: 10px 20px 10px 20px;
    background: #3B95D7;
    border-radius: 3px 3px 0px 0px;
    color: #FFF;
}

#popup .popupHeader h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

#popup .popupFooter {
    padding: 20px 20px 20px 20px;
    text-align: right;
    background: #D9D9D9;
}

#popup .popupBody {
    padding: 20px 20px 20px 20px;
    background: #D9D9D9;

}

#popup .popupBody p {
    margin: 0;
    line-height: 1.5em;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#popup .popupFooter button {
    padding: 8px 60px;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-left: 15px;
}

#yesBtn {
    background: #3B95D7;
    border: 1px solid #686868;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cancelBtn {
    background: #DD482D;
    border: 1px solid #686868;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formWrapper.no2 {
    display: block;
    padding-top: 21px;
    padding-left: 32px;

}

.no2 {
    grid-row: 2/3;
}

#toastmsg1,
#toastmsg2 {
    background-color: #48B791;
}

#toastmsgError1 {
    background-color: #DD482D;
}

#toastmsg1,
#toastmsg2,
#toastmsgError1 {
    visibility: hidden;
    min-width: 500px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 30px;
}

#toastmsg1.show,
#toastmsg2.show,
#toastmsgError1.show {
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1.5s 3.5s;
    animation: fadein 1s, fadeout 1.5s 3.5s;
}

small{
    display: none;
    color: red;
}

@-webkit-keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }

    to {
        right: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }

    to {
        right: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        right: 20px;
        opacity: 1;
    }

    to {
        right: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        right: 30px;
        opacity: 1;
    }

    to {
        right: 0;
        opacity: 0;
    }
}


@media screen and (max-width:1400px) and (min-width:1024px) {
    .editBtn {
        grid-row: 4/5;
        grid-column: 2/6;
        font-size: 11px;
        height: 23px;
    }

    .deleteBtn {
        grid-row: 4/5;
        grid-column: 7/12;
        height: 23px;
        font-size: 11px;
    }
}

@media screen and (max-width:1024px) {

    .layout {
        grid-template-columns: 0.38fr 0.62fr;
        height: 100%;
    }

    aside {
        grid-column: 1/2;
        height: 91%;
        overflow: auto !important;
    }

    .main {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.81fr 0.1fr;
    }

    .mainContainer {
        grid-column: 2/3;
        height: 100%;
    }

    .section1 {
        width: 98%;
        grid-template-rows: repeat(6, 1fr);
        height: 60%;
    }

    .formWrapper hr {
        width: 98%;
    }

    .firstName {
        grid-column: 1/10;
        grid-row: 1/2;
    }

    .lastName {
        grid-column: 11/21;
        grid-row: 1/2;
    }

    .address {
        grid-column: 1/21;
        grid-row: 2/3;
    }

    .city {
        grid-column: 1/15;
        grid-row: 3/4;
    }

    .zipcode {
        grid-column: 17/21;
        grid-row: 3/4;
    }

    .country {
        grid-column: 1/10;
        grid-row: 4/5;
    }

    .age {
        grid-column: 12/15;
        grid-row: 4/5;
    }

    .gender {
        grid-column: 1/10;
        grid-row: 5/6;
    }

    .activity {
        grid-column: 1/15;
        grid-row: 6/7;
    }

    .section2 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 30%);
        padding-top: 0.5625em;
        font-size: 14px;
        box-sizing: border-box;
    }

    .section2Main {
        width: 98%;
        height: 110px;
    }

    input[type="checkbox"] {
        accent-color: #3B95D7;
        height: 9px;
        margin: 0;
        outline: initial;
    }

    .formWrapper {
        display: block;
        padding-top: 20px;
        padding-left: 25px;
        grid-row: 1/2;
        border-bottom: 0px;
        margin-bottom: 20px;
    }

    .formWrapper.no2{
        display: none;
        grid-row: 1/2;
        padding-top: 20px;
        padding-left: 25px;
        border-bottom: 0px;
        margin-bottom: 20px;
    }

    .run {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .cycling {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .walking {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .skiing {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .section3 {
        bottom: 0;
    }

    .section3 ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 50%);
    }

    .section3 li {
        align-self: center;
    }

    .news {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .aboutus {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .services {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .contactus {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    .activityContainer {
        text-align: center;
    }

    .member-container {
        height: 100%;
    }

    #popup {
        margin-left: -30%;
    }

    .section2Container {
        grid-template-rows: repeat(2, 0.2fr);
        height: 30%;
    }

    #backBtnEdit,
    #backBtnAdd {
        display: block;
        margin-top: 60px;
    }
}